@model StoreComputer.Models.KhachHang

@{
    ViewBag.Title = "Đăng Ký";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h4 class="mb-0">Tạo Tài Khoản Mới</h4>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("dangKy", "NguoiDung", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label>Họ tên khách hàng</label>
                            <input type="text" name="tenKH" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input type="text" name="diaChi" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input type="text" name="soDienThoai" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Tài khoản</label>
                            <input type="text" name="taiKhoan" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" name="matKhau" class="form-control" required />
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="Email" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                        <hr />
                        <div class="text-center">
                            <a href="~/NguoiDung/DangNhap" class="btn btn-outline-secondary btn-block">Đã có tài khoản? Đăng nhập</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
